/* reset */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

html {
    background-color: #eee;
}

body {
    font: 14px "Helvetica Neue", Arial, sans-serif;
    padding-bottom: 4em;
    color: #333;
    background-color: #eee;
}

a {
    text-decoration: underline;
    color: #333;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3 {
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

h1, h2, h3 {
    font-weight: bold;
}

.wrapper {
    max-width: 55em;
    margin: 0em auto;
    padding: 0em 2em;
}

#main-header {
    padding-bottom: 1em;
    margin: 3em auto 0em auto;
}

#main-header #site-title {
    font-weight: bold;
    line-height: 2em;
    vertical-align: middle;
}

#main-header #site-title a {
    text-decoration: none;
    font-size: 2.5em;
}

#main-header #site-title strong {
    display: block;
    font-size: 1.75em;
}

#main-header nav {
    margin: 1em 0em 0em 0em;
    padding: 1em 0em;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    width: 100%;
}

#main-header nav a {
    text-decoration: none;
    margin-right: 1em;
    font-weight: bold;
    font-size: 1em;
}

#content {
    margin: 0em;
}

.main {
    overflow: auto;
    margin: 0em 0em 3em 0em;
}

.main h1 {
    font-size: 1.5em;
    line-height: 1.25em;
    margin: 3em 0em 1em 0em;
    padding-left: 0.5em;
    color: #eee;
    background-color: #333;
}

.main h2 {
    font-size: 1.25em;
    line-height: 1.5em;
    margin: 1.5em 0em 1em 0em;
}

.main h3 {
    font-size: 1em;
    line-height: 1.25em;
    margin: 1.5em 0em 1em 0em;
}

.main ul li {
    display: block;
    list-style-type: none;
}

.main ul li:before {
    content: "\2767";
    padding-right: 0.5em;
}

.main strong {
    font-weight: bold;
}

.main table {
    border-collapse: separate;
    border-spacing: 0.75em 0em;
    background-color: #e6e6e6;
    padding: 1em 0em;
}

.main table thead th {
    font-size: 1.25em;
    padding-bottom: 0.75em;
    border-bottom: 1px solid #ddd;
}

.main table tbody tr td {
    padding-bottom: 0.75em;
    vertical-align: top;
}

.main table tbody tr:first-child td {
    padding-top: 0.75em;
}

.main .pic {
    float: left;
    margin-right: 2em;
}

.main .euro-logo {
    float: left;
    margin: 0.5em 2em 1em 0em;
    width: 14em;
}

.main .important {
    margin: 1.75em 1em 1.75em 1em;
    padding: 1em;
    border: 1px solid #333;
    font-weight: bold;
    text-align: center;
}

@media all and (max-width: 550px) {
    .wrapper {
        padding-left: 1em;
        padding-right: 1em;
    }
    
    #main-header nav a {
        display:block;
        padding: 1em 0em;
    }
    
    .main .pic {
        display: none;
    }
    
    .main ul li {
        padding: 1em 0em;
    }
    
    .main h1 {
        margin-bottom: 0.5em;
    }
    
    .main h2 {
        margin-bottom: 0.5em;
    }

    .main h3 {
        margin-bottom: 0.5em;
    }
    
    .main .euro-logo {
        display: block;
        float: none;
        margin: 1em 0em;
    }
}