/* reset */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

body {
    font: 14px/18px "Helvetica Neue", Arial, sans-serif;
    padding-bottom: 40px;
}

a {
    text-decoration: underline;
    color: black;
}

a:hover {
    text-decoration: none;
}

hr {
    border-bottom: 1px solid #ccc;
    border-top-style: none;
}

h1, h2, h3, h4, .links {
    font-family:"Open Sans", "Helvetica Neue", Arial, sans-serif;
}

h1, h2 {
    font-weight: 700;
}

em {
    font-style: italic;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 30px;
}

#main-header {
    padding-bottom: 25px;
    border-bottom: 2px solid black;
    margin: 40px auto 0 auto;
}

#site-title {
    font-weight: 700;
    line-height: normal;
    vertical-align: middle;
}

#site-title a {
    color: black;
    text-decoration: none;
    font-size: 36px;
}

#site-title strong {
    display: block;
    font-size: 24px;
}

#content {
    margin: 40px 0 0 0;
}

.entry {
    overflow: auto;
    margin: 0 0 35px 0;
}

.entry h1 {
    font-size: 24px;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 15px;
    padding-left: 5px;
    color: white;
    background-color: black;
}

.entry h2 {
    font-size: 20px;
    line-height: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.entry ul li {
    display: block;
    list-style-type: none;
}

.entry strong {
    font-weight: bold;
}

.entry table {
    border-collapse: separate;
    border-spacing: 10px 0px;
}

.entry table thead th {
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.entry table tbody tr td {
    padding-bottom: 10px;
    vertical-align: top;
}

.entry table tbody tr:first-child td {
    padding-top: 10px;
}

.entry .pic {
    float: left;
    margin-right: 30px;
}

@media all and (max-width: 550px) {
    #site-title img {
        width: 25px;
    }
    .wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
    .entry h1 {
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 7px;
    }
    .entry h2 {
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 7px;
    }
}