@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
         url('fonts/source-sans-pro-v13-latin-regular.woff2') format('woff2'),
         url('fonts/source-sans-pro-v13-latin-regular.woff') format('woff');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'),
         url('fonts/source-sans-pro-v13-latin-600.woff2') format('woff2'),
         url('fonts/source-sans-pro-v13-latin-600.woff') format('woff');
}
html {
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-color: #eee;
    color: #343837;
    font-family: 'Source Sans Pro', "Trebuchet MS", Helvetica, sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    font-weight: 600;
    color: #03719C;
}
a:hover {
    filter: brightness(125%);
}
@keyframes shadowAppear {
    from {
        box-shadow: none;
    }
    to {
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.05);
    }
}
a:hover > img {
    filter: brightness(85%);
    animation-name: shadowAppear;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
body > header {
    padding: 1em;
}
body > header > h1 {
    font-size: 2rem;
    color: #0F9B8E;
}
body > main {
    padding: 1em;
}
body > main > section:not(:last-child) {
    border-bottom: 1px white dashed;
}
body > main > section > header > h1 {
    font-size: 1.5rem;
}
body > main > section > article > header > h1 {
    font-size: 1.25rem;
}
body > main > section#about > img {
    float: right;
    height: 8rem;
}
body > main > section#contacts > address {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1rem;
}
body > main > section#highlights > ul {
    list-style: none;
    padding-left: 0;
    vertical-align: top;
}
body > main > section#highlights > ul > li {
    width: 20%;
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 1rem;
    border-radius: 5px;
}
body > main > section#highlights > ul > li:not(:first-child) {
    margin-left: 1rem;
}
body > main > section#highlights > ul > li > a {
    text-align: center;
    text-decoration: none;
}
body > main > section#highlights > ul > li > a > img {
    display: block;
    width: 100%;
    max-height: 400px;
    margin-bottom: 1rem;
}
.paper header > h1 {
    font-size: 1.25rem;
}
.paper td:first-child {
    width: 200px;
}
.paper td > span {
    font-weight: 600;
}
@media screen and (min-width: 1024px) {
    body > main > section#contacts > address {
        width: 40%;
    }
    .paper {
        margin-bottom: 2rem;
    }
}
@media screen and (min-width: 1600px) {
    body > header {
        margin-top: 4em;
    }
    body > header, body > main {
        padding-left: 12em;
        padding-right: 12em;
    }
}
@media screen and (max-width: 1024px) {
    body > main > section#highlights > ul > li {
        width: 85%;
        margin: 0 0 1rem 0 !important;
    }
    .paper td:first-child {
        width: 120px;
    }
}
